<section id="skills" class="skills-section">
  <div class="skills-wrapper">

    <div class="skills-grid">
      <div class="skill-item">
        <div class="skill-item-wrapper">
          <img src="icons/html.svg" alt="HTML">
          <span>HTML</span>
        </div>
      </div>
      <div class="skill-item">
        <div class="skill-item-wrapper">
          <img src="icons/css.svg" alt="SCSS">
          <span>SCSS</span>
        </div>
      </div>
      <div class="skill-item">
        <div class="skill-item-wrapper">
          <img src="icons/js.svg" alt="JavaScript">
          <span>JavaScript</span>
        </div>
      </div>
      <div class="skill-item">
        <div class="skill-item-wrapper">
          <img src="icons/ts.svg" alt="TypeScript">
          <span>TypeScript</span>
        </div>
      </div>
      <div class="skill-item">
        <div class="skill-item-wrapper">
          <img src="icons/angular.svg" alt="Angular">
          <span>Angular</span>
        </div>
      </div>
      <div class="skill-item">
        <div class="skill-item-wrapper">
          <img src="icons/react.svg" alt="React">
          <span>React</span>
        </div>
      </div>
      <div class="skill-item">
        <div class="skill-item-wrapper">
          <img src="icons/next.svg" alt="Next.js">
          <span>Next.js</span>
        </div>
      </div>
      <div class="skill-item">
        <div class="skill-item-wrapper">
          <img src="icons/nest.svg" alt="NestJS">
          <span>NestJS</span>
        </div>
      </div>
      <div class="skill-item">
        <div class="skill-item-wrapper">
          <img src="icons/git.svg" alt="Git">
          <span>Git</span>
        </div>
      </div>
      <div class="skill-item">
        <div class="skill-item-wrapper">
          <img src="icons/api.svg" alt="REST-API">
          <span>REST-API</span>
        </div>
      </div>
      <div class="skill-item">
        <div class="skill-item-wrapper">
          <img src="icons/scrum.svg" alt="Scrum">
          <span>Scrum</span>
        </div>
      </div>
      <div class="skill-item">
        <div class="skill-item-wrapper">
          <img src="icons/material.svg" alt="Material Design">
          <span>Material Design</span>
        </div>
      </div>
      <div class="skill-item">
        <div class="skill-item-wrapper">
          <img src="icons/tailwind.svg" alt="Tailwind CSS">
          <span>Tailwind CSS</span>
        </div>
      </div>
      <div class="skill-item continuous-learning">
        <div class="learning-tooltip">
          <p class="tooltip-title">{{ "my_skills.learningTitle" | translate }}</p>
          <div class="tooltip-tech-wrapper">
            <div class="tech-item">
              <img src="icons/graphql.svg" alt="GraphQL" class="tech-icon">
              <span>GraphQL</span>
            </div>
            <div class="tech-item">
              <img src="icons/docker.svg" alt="Docker" class="tech-icon">
              <span>Docker</span>
            </div>
          </div>
          <div class="tooltip-arrow"></div>
        </div>
        <div class="skill-item-wrapper">
          <img src="icons/learning.svg" alt="Continually learning">
          <span class="learning-text">{{ "my_skills.continuousLearning" | translate }}</span>
        </div>
      </div>
    </div>

    <div class="skills-right">
      <div class="skills-intro">
        <h2 class="skills-title">My skills</h2>
        <p class="skills-description">
          {{ "my_skills.description" | translate }}
        </p>
      </div>
      <div class="skills-cta">
        <h3 class="skills-cta-heading">
          {{ "my_skills.ctaHeading" | translate }} <span class="accent">{{ "my_skills.ctaAccent" | translate }}</span>?
        </h3>
        <p class="skills-sub-description">
          {{ "my_skills.subDescription" | translate }}
        </p>
        <a href="#contact" class="button">{{ "my_skills.button" | translate }}</a>
      </div>
    </div>

  </div>
  <div class="bg-blur bg-blur-1"></div>
</section>
