<header class="header">
  <div class="wrapper">
    <a [routerLink]="['/']" class="logo">
      Ievgen<span class="accent">B</span>
    </a>

    <div class="links-wrapper">
      <nav class="nav-links">
        <a [routerLink]="['/']" fragment="about">{{ 'header.nav.about' | translate }}</a>
        <a [routerLink]="['/']" fragment="skills">{{ 'header.nav.skills' | translate }}</a>
        <a [routerLink]="['/']" fragment="portfolio">{{ 'header.nav.portfolio' | translate }}</a>
      </nav>

      <div class="lang-switch">
        <button class="lang-btn" [class.active]="currentLang() === 'en'" (click)="switchLanguage('en')">EN</button>
        <button class="lang-btn" [class.active]="currentLang() === 'de'" (click)="switchLanguage('de')">DE</button>
      </div>
    </div>
  </div>
</header>