$color-bg: #161f34;
$color-bg-header: #172139;
$color-primary: hsla(95, 80%, 51%, 1);
$color-secondary: hsla(266, 100%, 64%, 1);
$color-text-main: hsla(0, 0%, 100%, 1);
$color-text-muted: #9e9ebb;
$color-card-bg: #161a23;

$font-main: 'Poppins', 'Segoe UI', sans-serif;
